*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--font-main);
    color: var(--text-color);
    background-color: var(--color-light);
}
.section-padding{
    padding: 5rem 10%;
}
html {
    scroll-behavior: smooth;
}

.section-padding {
    padding: 80px 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}